<%- include('../includes/header.ejs') %>
<main>
    <div class="container">
        <div class="showcase">
            <h2>404! Page <%= pageName %> not Found </h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga ullam voluptatem dolore debitis illum
                    placeat consectetur ea repellendus fugiat minima.</p>
                </div>
            </div>
        </main>

<%- include('../includes/footer.ejs') %>