extends layouts/main-layout.pug
block content
    main
        .container
            .showcase
                h2 Page #{pageName} not Found 
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga ullam voluptatem dolore debitis illum placeat consectetur ea repellendus fugiat minima.