extends layouts/main-layout.pug
block content
    main
        .container
            .showcase
                h2 Welcome ! Need something just tap 😍
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque dolores a eos provident placeat recusandae molestias, eligendi itaque dolorum quisquam qui in fuga numquam voluptatumaccusamus ad? Totam laboriosam enim maiores, quaerat ea dolorum facere mollitia necessitatibus autem amet quisquam dolor illo consequuntur. Explicabo totam illum officiis molestiae corporis. ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis consequuntur harum dolorumLaboriosam, ad ratione natus quas molestiae nemo! Et!